<div class="row">
  <div class="col-md-2 col-lg-2"></div>
  <div class="col-md-8 col-lg-8">
    <div class="card">
      <h4 class="card-header">
        Editing Rate Chart
      </h4>
      <div class="card-body">
        <%= render 'form', rate_chart: @rate_chart %>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-lg-2"></div>
</div>

